.skills {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    max-width: 1446px;
    margin: 0 auto;
    min-width: 1300px;
    text-align: center;
    
  }

 
  .container__carrucel__img {
    height: 30rem;
    width: 30rem;
  }

  .img__icons {
    margin-top: 5rem;
    height: 100px;
    width: 100px;
  }

  .img__icons:hover {
    padding: 10%;
    display: inline-block;
  }
}
